<div class="row-fluid">
  <div class="l2 <%= color %> <%= span_class %> <%= offset_value %>">
  	<%= raw @page.content_for(:l2_headline) %>
  </div>
</div>
<div class="row-fluid">
  <div class="l2 lead <%= color %> <%= span_class %> <%= offset_value %>">
    <%= raw @page.content_for(:l2_lead_text) %>
  </div>
</div>


<div class="row-fluid">
<% if @page.images.any? %>
<div id="myCarousel" class="carousel slide span8">
  <ol class="carousel-indicators hidden-phone">
  	<% @page.images.each_with_index do |image, index| %>
    	<li data-target="#myCarousel" data-slide-to="<%= index %>" class="<% if index == 0 %>active<% end %>"></li>
    <% end %>
  </ol>
  <!-- Carousel items -->
  <div class="carousel-inner">
  	<% @page.images.each_with_index do |image, index| %>
	    <div class="item <% if index == 0 %>active<% end %>">

	    	<%= image_tag(image.thumbnail("900x600").url) %>
	    	<div class="work-images" style=""><span class='caption' style="color:#ffffff;"><%=raw @page.caption_for_image_index(index) %></span></div>

	    </div>
    <% end %>
  </div>
  <!-- Carousel nav -->
  <a class="carousel-control left hidden-phone" href="#myCarousel" data-slide="prev">&lsaquo;</a>
  <a class="carousel-control right hidden-phone" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div>
<% end %>
</div>


<div class="row-fluid">
<div class="<%= span_class %> <%= offset_value %>">
	<div class="l2 <%= color %> <%= col_span %>">
	  <%= raw @page.content_for(:column_1) %>
	</div>

	<div class="l2 <%= color %> <%= col_span %>">
	  <%= raw @page.content_for(:column_2) %>
	</div>

	<div class="l2 <%= color %> <%= col_span %>">
	  <%= raw @page.content_for(:column_3) %>
	</div>

  <div class="l2 <%= color %> <%= col_span %>">
    <%= raw @page.content_for(:column_4) %>
  </div>
  <div class="l2 <%= color %> <%= col_span %>">
    <%= raw @page.content_for(:column_5) %>
  </div>
</div>
</div>






