<div class="l2 <%= color %> <%= span_class %> <%= offset_value %>">
	<%= raw @page.content_for(:l2_headline) %>
</div>
<div class="l2 lead <%= color %> <%= span_class %> <%= offset_value %>">
  <%= raw @page.content_for(:l2_lead_text) %>
</div>

<%#= render '/refinery/content_page' %>
