<div class="container" >

<div class="navbar navbar-inverse" >

  <div class="navbar-inner">
  	
  	
    <div class="container" >
    	<div class="row-fluid">
    	

		  <div class="span6 pull-right">
				<%= render :partial => '/refinery/menu', :locals => { 
           :roots => refinery_menu('footer_menu'),
           :menu_name => 'footer' } %>
      </div>

      <%#= roots %>


			</div>

			<div class="container" id="social-section" style="border-top:1px solid #121212;">
<div class="row">
	<div class="span4" style="margin-top:10px;">
		<div class="span6 pull-left">
    		<h3>Get the long form of our story.</h3>
    		<form class="form-inline" action="http://metre.createsend.com/t/t/s/vhrht/" method="post" id="subForm">
					<input style="margin-top:5px;"type="text" name="cm-vhrht-vhrht" id="vhrht-vhrht" placeholder="Your email address"/> <button type="submit" value="Subscribe" class="btn btn-primary">Subscribe</button>
				</form>

    	</div>
		

	</div>

<div class="row">
  <div class="span7 pull-right blockquote">
   
    <div class="row pull-right" id="social-section" style="margin-top:20px;">
    	
    	
    	<% tweet = TweetFav.all %>
    	<% show_tweet = tweet.to_a.sample %>

    	<div class="span1">
    		<%#= show_tweet.user %>
    		<% if show_tweet.profile_image_url.nil? %>
    			<%= image_tag 'twitter-bird-dark-bgs.png' %>
    			
    		<% else %>
    			<%= image_tag show_tweet.profile_image_url, :width => 73 %>
    		<% end %>
	      	<%= auto_link("@" + show_tweet.screen_name).html_safe %>
	      	<%#= show_tweet.tweet_id %>
	      	
	      </div>

    	<div class="span5"><blockquote><p>
    	<%= auto_link(show_tweet.content).html_safe %>
    	</p></blockquote></div>

    	<%# tweet.each do |t| %>
    		<%#= t.profile_image_url %>

    	<%# end %>
  
	    
    </div>
  </div>
</div>

</div>

</div>

<p id="copyright">
  <%= t('.copyright', :year => Time.now.year,
                      :site_name => Refinery::Core.site_name) %>
</p>

			</div>
		</div>
	</div>
</div>

