<!DOCTYPE html>
<%= render '/refinery/html_tag' %>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <% site_bar = render('/refinery/site_bar', :head => true) -%>
  <%= render '/refinery/head' %>
  <body>
    
    <%= site_bar -%>
    <%= render '/refinery/ie6check' if request.env['HTTP_USER_AGENT'] =~ /MSIE/ -%>
    <div id="page_container">

      <div id="top"></div>


      <div class="container-fluid">
        <header id="header" >
          <%= render '/refinery/header' -%>
        </header>
      </div>


      <section id="page">
        <%= yield %>
      </section>


      <footer>
        <%= render '/refinery/footer' -%>
      </footer>


    </div><!-- page_container -->


    <%= render '/refinery/javascripts' %>



  </body>
</html>
